bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
coverage.*
*.coverprofile
profile.cov
content.txt
vendor/
go.work
go.work.sum
.env
.idea/
.vscode/
!.github/dependabot.yml
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml
*.test.exe
coverage.txt
/tmp/
.pgo/
vault/
models/


